.img-item {
    height: 27rem;
}

.carousel-indicators [data-bs-target] {
    background-color: orange !important;
}

.c-reklam > .carousel-item {
    background: var(--bs-dark);
    border: 0 !important;
}

.c-reklam > .carousel-item.active {
    display: flex;
    word-break: break-word;
}

.img-item > img {
    object-position: center;
    opacity: .5;
}
.carouselnextproduct, .carouselprevproduct {
    position: absolute;
    top: 45%;
    z-index: 1;
}
.carousel-controlnext, .carousel-controlprev {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    text-align: center;
    border: 0;
    margin: 0px 1rem;
    opacity: .5;
    transition: opacity .3s ease;
    color: var(--bs-dark);
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}

    .carousel-controlnext:hover, .carousel-controlprev:hover {
        text-decoration: none;
        opacity: 1;
        color: var(--bs-orange);
    }

.carouselnextproduct {
    right: 0;
}

.carouselprevproduct {
    left: 0;
}
.product-wrapper > .card {
    width: 14rem;
    min-width: 12rem;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    margin: 20px 15px;
}
.product-wrapper > .card:hover {
    transform: scale(1.1);
}
.product-wrapper > .card > img {
    height: 10rem;
}
.brand {
    position: absolute;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-style: oblique;
    margin:0;
}
.top-right {
    top: 5%;
    right: 5%;
}
.top-left {
    top: 5%;
    left: 0;
}
.right-bottom {
    right: 5%;
    bottom: 5%;
}
.price {
    position: absolute;
    margin:0;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-style: oblique;
}
.product-wrapper > .card > .card-body {
    padding: 25px;
}
.title {
    text-align: start;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    overflow-wrap: break-word;
}

.productprevcarousel {
    top: 50%;
    left: -5%;
}

.productnextcarousel {
    right: -6%;
    top:50%;
}
