/*Modal Düzeni*/
body.active-modal {
    overflow-y: hidden;
    padding-right:17px;
}
.z-index-5{
    z-index:5;
}
.modal-wrapper, .overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}
.bgpopupcolor {
    background-color: rgba(0,0,0,0.2);
}
.scroll-down {
    overflow-y: scroll;
}
.modalcontent {
    position: relative;
    width: auto;
    margin:0.5rem;
}
.modalcontent .modalbody {
    min-width:500px;
}

